*
!packages/
packages/*
!packages/media-cli/
!packages/media-cli/**
!packages/remote-execution/
!packages/remote-execution/**
!packages/safe-fs/
!packages/safe-fs/**
**/node_modules
**/.git
**/target
**/.turbo
**/coverage
**/screenshots
**/__pycache__
**/.wrangler
/out
